# Python related files
build/
eggs/
env/
*.pyc
*.pyo
# Scala
*.class
# Libraries
*.so
# Log files
screenlog.*
nohup.out
# Test data
*.txt
*.csv
*.json
*.bz2
*.bzip2
archive/
input-data/stooq
input-data/netfonds
input-data/timo-data
input-data/twitsstock
